@import '../../main.scss';

.videoMetaData{
    &_top{
        span{
            cursor: pointer;
        }
    }
    &_channel{
        border-top: 0.2px solid $border-color;
        border-bottom: 0.2px solid $border-color;
        img{
            width:50px;
            height:50px;
        }
        button{
            background-color: red;
            color: #fff;
            border-radius: 0;
            text-transform: uppercase;
            letter-spacing: 0.5px;

            &.btn-grey{
              background-color: gray;
            }

            &:hover{
                color: #fff;

            }
            &:focus{
                border: 0;
                outline: none;
            }
        }
    }
    &_description{
        font-size: 0.9rem;
        white-space: pre-line;
        border-bottom: 0.2px solid $border-color;

        .showMoreText{
            text-decoration: none;
            display: block;
            margin: 1rem 0;
            color: #fff;
            font-weight: 500;
        }
    }

    .like-btn{
        margin-right: 10px;
        span{
            margin-top: 10px;
            margin-left: 10px;
        }
    }
     
.channelIcon{
    margin-right: 10px;
}

}
